{% capture powered_by_link %} <a target="_blank" rel="nofollow" href="http://yonder-studio.com">Site Design by Yonder Studio</a>.{% endcapture %}

<div class="footer-copyright">
  <span>{{ shop.name | link_to: routes.root_url }}.</span>
  <span>{{ powered_by_link }}</span>

  {%- for link in linklists[section.settings.bottom_menu].links -%}
    <a href="{{ link.url }}" class="footer-copyright__link">{{ link.title | strip_html | escape }}</a>
  {%- endfor -%}
</div>