.product-grid-item {
  .product-grid-item__info{
    row-gap: 5.49px;
    .product-grid-item__title{
      font-size: 32px;
      font-weight: 600;
      line-height: 120%;
      margin-top: 14px;
    }

    .product-grid-item__price {
      color: #3D4146;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      .loox-rating{
        margin-left: auto;
        display: flex;
        .loox-rating-label{
          color: #000;
          font-size: 11.908px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          top: -1px;
          position: relative;
        }
        .loox-icon{
          width: 14px;
          height: 14px;
          color: #1496D5;
        }
      }
    }
  }

  .product-grid-item__short-description{
    margin-top: 4px;
    color: #1B1B1B;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }

  .product-grid-item__atc{
    width: 100%;
    margin-top: 16px;
    .btn   {
      width: 100%;
      font-size: 19px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

    .product__badge__item--custom {
        z-index: 1;
        background: #8bac0e;
        color: var(--WHITE, #fff);
        font-family: Inter;
        font-size: 13.361px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 5px;
        padding: 9px;
        padding-inline: 12.25px 8.75px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
      product-grid-item-swatch{
        display: none;
      }
     hover-slideshow{
      display: none;
     }
      product-images-container{
        .product__badge {
          z-index: 9;
        }
        display: block;

        .swiper-wrapper{ 
          .product__media__image_item{
            border-radius: 10px;
            overflow: hidden;
          }
        }
        .swiper-button-prev,.swiper-button-next{
          &::after{
            display: none;
          }
        }
      }
}