.testimonials-section{
    .rating__star{
        svg{
            width: 20px;
            height: 20px;
            margin-right: 5px !important;
        }

    }
    .testimonial__heading{
        font-weight: 500;
    }
}