.template--index{
    @media only screen and (max-width: 767px){
        .shopify-section.slideshow{
            .original-height-mobile {
                .slide__image__container{
              min-height: auto;
                }
            }
            .full-height-mobile {
                .slide__image__container{
              min-height: var(--full-height);
                }
            }
            .three-quarters-height-mobile {
                .slide__image__container{
              min-height: var(--three-quarters);
                }
            }
            .two-thirds-height-mobile {
                .slide__image__container{
              min-height: var(--two-thirds);
                }
            }
            .one-half-height-mobile {
                .slide__image__container{
              min-height: var(--one-half);
                }
            }
            .one-third-height-mobile {
                .slide__image__container{
              min-height: var(--one-third);
                }
            }
            .one-fifth-height-mobile {
                .slide__image__container{
              min-height: var(--one-fifth);
                }
            }
            .seven-fifty-height-mobile {
                .slide__image__container{
              min-height: 750px;
                }
            }
            .six-fifty-height-mobile {
                .slide__image__container{
              min-height: 650px;
                }
            }
            .five-fifty-height-mobile {
                .slide__image__container{
              min-height: 550px;
                }
            }
            .four-fifty-height-mobile {
                .slide__image__container{
              min-height: 450px;
                }
            }

            .slider .item{
                grid-template-rows: repeat(2,minmax(0,1fr));
                   
                .slide__image__container{
                    position: relative;
                }
                .slide__text__container{
                    grid-row-start: 2;
                    .slide__text__wrapper {
                        margin-bottom: 0px;
                        padding-top: 30px !important;
                        padding-bottom: 28px;
                        color: #000;
                        font-family: Inter;
                        .slide__subheading {
                            .subheading-text{
                                margin-top: 0px;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                letter-spacing: -0.6px;
                                margin-bottom: 14px;
                            }
                        }
                        .slide__heading {
                            color: #000;
                            font-family: Inter;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: -1.28px;
                            margin-bottom: 14px;
                        }
                        .slide__text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 26px;
                            margin-bottom: 14px;
                            color: #000;
                        }
                        .main-buttons__item{
                            margin: 0px;
                            .slide__btn {
                                border-radius: 7px;
                                border: 1px solid #FFF;
                                background: #3C4147;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 28px;
                                padding-top: 9px;
                                padding-bottom: 9px;
                            }
                        }
                    }
                }
            }
        }

    }
}