.template--product {
    overflow-x: hidden;
    @media only screen and (min-width: 480px){
        .product__block--half {
            display: inline-block;
            width: 49.5%;
        }
    }
    //radio buttons 
    .radio__button.sold-out .radio__label, .radio__button.unavailable .radio__label{
        text-decoration: initial;
    }
    //exactly
    .product-single__gallery{
        @media only screen and (min-width: 768px){
            height: fit-content;
            position: sticky;
            top: 0px;
        }
    }
    .product-single__details {
        .product__price-and-rating {
            flex-wrap: wrap;
            .loox-rating-content {
                column-gap: 3px;

                svg {
                    width: 15px;
                    height: 15px;
                }

                .loox-rating-label {
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 15px;
                    top: 0.5px;
                    position: relative;
                }
            }
        }
        .product__selectors{
            .selector-wrapper{
                .radio__fieldset{
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
            @media only screen and (max-width: 767px){
                row-gap: 24px;
            }
        }
        .radio__legend{
            align-items: center;
        }
        //fiamma button
        .inline-display{
            @media only screen and (max-width: 767px){
                display: inline-block;
            }
        }
        
        .fiamma_button{
            display: inline-block;
            float: right;
            color: #3D4146;
            font-family: Inter;
            cursor: pointer;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            position: relative;
            top: 5px;
            @media only screen and (min-width: 768px){
                font-size: 16px;
            }
        }

        .buy_box_container {
            display: flex;
            column-gap: 12px;
            @media only screen and (max-width: 767px){
                column-gap: 7px;
            }
            .product__submit__holder{
                padding-top: 0px;
                flex: 1;
            }

            .select__fieldset {
                width: 120px;
                height: 100%;
                @media only screen and (max-width: 767px){
                    width: 90px;
                }

                .select__label {
                    display: none;
                }

                .select-popout {
                    height: 100%;

                    .select-popout__toggle {
                        height: 100%;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px){
        .product__form {
            gap: 35px;
        }
    }
    @media only screen and (max-width: 767px){
        .product__form {
            gap: 35px;
        }
    }

    //tooltip text
    .tooltip-default__inner{
            right: 10px;
            max-width: 90%;
        .tooltip-default__arrow{
            left: 90% !important;
        }
    }
    //Selected otpions
    .selectedOptions{
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 7px 13px 8px;
        border-radius: 10px;
        background: #E8E8E8;   
        margin-bottom: 18px;
        display: inline-block;
        width: fit-content;
        @media only screen and (max-width: 767px){
            font-size: 14px;
        }
    }
}