@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
#cart-drawer .cart__foot .cart__widgets {
  padding-top: 0px;
  margin-bottom: 40px;
  border-top: none;
}
#cart-drawer .cart__foot .cart__pair {
  border-top: none;
  margin-bottom: 50px;
}
#cart-drawer .cart__foot .cart__pair .product-upsell__holder {
  border-radius: 5px;
  background: rgba(229, 229, 229, 0.5);
}
#cart-drawer .cart__foot .cart__pair .product-upsell__holder .product-upsell__btn {
  border: none;
}
#cart-drawer .cart__foot .cart__pair .product-upsell__holder .flickity-page-dots {
  text-align: right;
}
#cart-drawer .cart__foot .cart__checkout {
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #77882E;
  padding-top: 16px;
  padding-bottom: 16px;
  border-color: #77882E;
}
#cart-drawer .cart__foot .cart__text_container {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cart-drawer .cart__foot .cart__text_container .cart__text {
  margin-top: 0px;
  color: #000;
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
}
#cart-drawer .cart__foot .cart__text_container .separator_text {
  width: 3px;
  height: 3px;
  background-color: #A6BCC9;
  border: 50%;
}

@media only screen and (max-width: 767px) {
  .template--index .shopify-section.slideshow .original-height-mobile .slide__image__container {
    min-height: auto;
  }
  .template--index .shopify-section.slideshow .full-height-mobile .slide__image__container {
    min-height: var(--full-height);
  }
  .template--index .shopify-section.slideshow .three-quarters-height-mobile .slide__image__container {
    min-height: var(--three-quarters);
  }
  .template--index .shopify-section.slideshow .two-thirds-height-mobile .slide__image__container {
    min-height: var(--two-thirds);
  }
  .template--index .shopify-section.slideshow .one-half-height-mobile .slide__image__container {
    min-height: var(--one-half);
  }
  .template--index .shopify-section.slideshow .one-third-height-mobile .slide__image__container {
    min-height: var(--one-third);
  }
  .template--index .shopify-section.slideshow .one-fifth-height-mobile .slide__image__container {
    min-height: var(--one-fifth);
  }
  .template--index .shopify-section.slideshow .seven-fifty-height-mobile .slide__image__container {
    min-height: 750px;
  }
  .template--index .shopify-section.slideshow .six-fifty-height-mobile .slide__image__container {
    min-height: 650px;
  }
  .template--index .shopify-section.slideshow .five-fifty-height-mobile .slide__image__container {
    min-height: 550px;
  }
  .template--index .shopify-section.slideshow .four-fifty-height-mobile .slide__image__container {
    min-height: 450px;
  }
  .template--index .shopify-section.slideshow .slider .item {
    grid-template-rows: repeat(2, minmax(0, auto));
  }
  .template--index .shopify-section.slideshow .slider .item .slide__image__container {
    position: relative;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container {
    grid-row-start: 2;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper {
    margin-bottom: 0;
    padding-top: 28px !important;
    padding-bottom: 28px;
    color: #000;
    font-family: Inter;
    margin-top: 0px;
    width: 100%;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__subheading .subheading-text {
    margin-top: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
    margin-bottom: 14px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__heading {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
    margin-bottom: 14px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 14px;
    color: #000;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__buttons {
    margin: 0px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__buttons .main-buttons__item {
    margin: 0px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__buttons .main-buttons__item .slide__btn {
    border-radius: 7px;
    border: 1px solid #FFF;
    background: #3C4147;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.product-grid-item .product-grid-item__info {
  row-gap: 5.49px;
}
.product-grid-item .product-grid-item__info .product-grid-item__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 14px;
}
.product-grid-item .product-grid-item__info .product-grid-item__price {
  color: #3D4146;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}
.product-grid-item .product-grid-item__info .product-grid-item__price .loox-rating {
  margin-left: auto;
  display: flex;
}
.product-grid-item .product-grid-item__info .product-grid-item__price .loox-rating .loox-rating-label {
  color: #000;
  font-size: 11.908px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: -1px;
  position: relative;
}
.product-grid-item .product-grid-item__info .product-grid-item__price .loox-rating .loox-icon {
  width: 14px;
  height: 14px;
  color: #1496D5;
}
.product-grid-item .product-grid-item__short-description {
  margin-top: 4px;
  color: #1B1B1B;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.product-grid-item .product-grid-item__atc {
  width: 100%;
  margin-top: 16px;
}
.product-grid-item .product-grid-item__atc .btn {
  width: 100%;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-grid-item .product__badge__item--custom {
  z-index: 1;
  background: #8bac0e;
  color: var(--WHITE, #fff);
  font-family: Inter;
  font-size: 13.361px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  padding: 9px;
  padding-inline: 12.25px 8.75px;
}
@media screen and (max-width: 768px) {
  .product-grid-item .product__badge__item--custom {
    font-size: 12px;
  }
}
.product-grid-item product-grid-item-swatch {
  display: none;
}
.product-grid-item hover-slideshow {
  display: none;
}
.product-grid-item product-images-container {
  display: block;
}
.product-grid-item product-images-container .product__badge {
  z-index: 9;
}
.product-grid-item product-images-container .swiper-wrapper .product__media__image_item {
  border-radius: 10px;
  overflow: hidden;
}
.product-grid-item product-images-container .swiper-button-prev::after, .product-grid-item product-images-container .swiper-button-next::after {
  display: none;
}

#nav-drawer {
  background: #E9E9E9;
  display: flex;
  flex-direction: column;
}
#nav-drawer .drawer__header {
  padding-block: 14px;
  background: white;
}
#nav-drawer .promo-banner {
  height: auto;
  aspect-ratio: 2.67;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #cacaca;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
#nav-drawer .promo-banner .promo-banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#nav-drawer .promo-banner .promo-banner__content .promo-banner__subheading {
  color: var(--WHITE, #FFF);
  text-align: center;
  font-family: "Work Sans";
  font-size: 13.648px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
}
#nav-drawer .promo-banner .promo-banner__content .promo-banner__heading {
  color: var(--WHITE, #FFF);
  text-align: center;
  font-family: "Barlow Condensed";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  text-transform: uppercase;
  margin-bottom: 11px;
}
#nav-drawer .promo-banner .promo-banner__content .promo-banner__button {
  color: var(--WHITE, #FFF);
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  height: 31px;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #8BAC0E;
}
#nav-drawer .primary_nav {
  padding: 20px var(--inner);
}
#nav-drawer .primary_nav ul {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#nav-drawer .primary_nav ul li a {
  padding: 0px;
  color: var(--WHITE, #FFF);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 110%;
  text-transform: uppercase;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #3C4146;
}
#nav-drawer .secondary-menus {
  display: flex;
  padding: 20px var(--inner) 10px;
  margin-top: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
#nav-drawer .secondary-menus ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
#nav-drawer .secondary-menus ul:nth-child(2) {
  width: 45%;
}
#nav-drawer .secondary-menus ul li {
  padding: 0px;
}
#nav-drawer .secondary-menus ul li a {
  padding: 0px;
  color: #3C4147;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
}
#nav-drawer .mobile-nav__search {
  margin-top: 24px;
  width: 100%;
}
#nav-drawer .mobile-nav__search input {
  border-radius: 10px;
  background: #FFF;
  color: #3C4147;
  font-family: "Work Sans";
  font-size: 16.431px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.794px;
  padding: 5.5px 20px;
}

.testimonials-section .rating__star svg {
  width: 20px;
  height: 20px;
  margin-right: 5px !important;
}
.testimonials-section .testimonial__heading {
  font-weight: 500;
}

.section-columns {
  color: #000;
}
.section-columns .text__heading {
  --adjust-heading: calc(1.1* 1.0);
  color: inherit;
}
.section-columns .text__subheading {
  --adjust-body: calc(1.1* 1.0);
  color: inherit;
  margin-top: 0px;
  margin-bottom: 16px;
}
.section-columns .section__header {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .section-columns .section__header {
    margin-bottom: 36px;
  }
}

.accordions-section .featured-collection__content__wrapper {
  margin-top: 60px;
}
.accordions-section .featured-collection__content__wrapper .section__text {
  margin-bottom: 16px;
}

.product__block {
  padding-bottom: var(--PBB, 0);
}

@media only screen and (max-width: 767px) {
  .product__block {
    padding-bottom: var(--PBBM, 0);
  }
}
.template--product {
  overflow-x: hidden;
  --vertical-spacing: 13px;
}
.template--product .ratings__reviews {
  margin-bottom: -15px;
}
.template--product .ratings__reviews .testimonial__stars {
  margin-bottom: 0px;
}
.template--product .ratings__reviews .rating__star__full {
  position: relative;
  margin-right: 3px;
}
.template--product .ratings__reviews .rating__star__full .icon {
  margin-right: 2px;
  width: 16px;
  height: 16px;
  stroke: rgb(139, 172, 14);
  fill: rgb(139, 172, 14);
}
.template--product .ratings__reviews .review-text {
  margin-block: 0px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #3d4146;
}
@media only screen and (max-width: 768px) {
  .template--product .product-single {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .template--product .product-single__gallery {
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 0px;
  }
}
.template--product .product-single__gallery .product-single__thumbnails .product-single__thumbnail-link {
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .template--product .product-single__gallery .product-single__thumbnails .product-single__thumbnail .product-single__thumbnail-link {
    width: 65px;
    height: 65px;
  }
  .template--product .product-single__gallery .product-single__thumbnails .product-single__thumbnail.is-selected .product-single__thumbnail-link {
    border-radius: 6.29px;
    border: 0.786px solid var(--CHARCOAL, #3d4146);
  }
  .template--product .product-single__gallery .product-single__thumbnails .product-single__thumbnail .product-single__thumbnail-img {
    border-radius: 6.29px;
  }
}
.template--product .product-single__media-slider .product-single__media-slide:not(:first-child) .pdp-callout-badge,
.template--product .product-single__media-slider .product-single__media-slide:not(:first-child) .badge-image-container {
  display: none;
}
.template--product .badge-image-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  max-width: 75px;
}
.template--product .badge-image-container img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .template--product .badge-image-container {
    width: 64.999px;
    height: 65px;
    top: 10px;
    right: 10px;
  }
}
.template--product .pdp-callout-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: #8bac0e;
  color: var(--WHITE, #fff);
  font-family: Inter;
  font-size: 13.361px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  padding: 9px;
  padding-inline: 12.25px 8.75px;
}
@media screen and (max-width: 768px) {
  .template--product .pdp-callout-badge {
    top: 10px;
    left: 10px;
    font-size: 12px;
  }
}
.template--product .product-single__details .radio__fieldset .radio__legend {
  margin-bottom: 7px;
  display: flex;
  gap: 5px;
}
.template--product .product-single__details .radio__fieldset .radio__legend .radio__legend__label {
  color: var(--CHARCOAL, #3d4146);
  font-family: "Neue Plak";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}
.template--product .product-single__details .radio__fieldset .radio__legend .radio__legend__value {
  color: var(--CHARCOAL, #3d4146);
  font-family: "Neue Plak";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.template--product .product-single__details .radio__fieldset .radio__fieldset > .options-color-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: scroll;
}
.template--product .product-single__details .radio__fieldset .radio__fieldset > .options-color-container::-webkit-scrollbar {
  display: none;
}
.template--product .product-single__details .radio__fieldset .radio__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: scroll;
}
.template--product .product-single__details .radio__fieldset .radio__buttons::-webkit-scrollbar {
  display: none;
}
.template--product .product-single__details .radio__fieldset .radio__buttons .options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.template--product .product-single__details .radio__fieldset .radio__buttons .options-color-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: scroll;
}
.template--product .product-single__details .radio__fieldset .radio__buttons .options-color-container::-webkit-scrollbar {
  display: none;
}
.template--product .product-single__details .radio__fieldset .radio__buttons .options-color-container .radio__button {
  margin: 0px;
  margin: 0px;
  width: 68px;
  height: 68px;
  max-width: 68px;
  max-height: 68px;
  min-width: 68px;
  min-height: 68px;
}
.template--product .product-single__details .radio__fieldset .radio__buttons .options-color-container .radio__button label {
  padding: 0px;
  display: flex;
  overflow: hidden;
}
.template--product .product-single__details .radio__fieldset .radio__buttons .options-color-container .radio__button label .option-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.template--product .product-single__details .radio__fieldset .radio__buttons .options-color-container .radio__button label .option-title {
  display: none;
}
.template--product .product-single__details .radio__fieldset {
  margin-bottom: 0px;
}
.template--product .product-single__details .radio__fieldset .options-color-container .radio__input:checked ~ .radio__label {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #3c4147;
}
.template--product .product-single__details .shopify-app-block .loox-rating {
  display: flex;
  margin-bottom: var(--vertical-spacing);
}
.template--product .product-single__details .shopify-app-block .loox-rating-label {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
@media screen and (max-width: 380px) {
  .template--product .product-single__details .shopify-app-block .loox-rating-label {
    font-size: 12px;
  }
}
.template--product .product-single__details .product__title-and-price {
  margin-bottom: var(--vertical-spacing);
}
.template--product .product-single__details .product__title-and-price .product__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.template--product .product-single__details .product__price-and-badge {
  margin-bottom: 0px;
}
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price {
  gap: 10px;
}
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price span,
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price s {
  margin: 0px;
}
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price span[data-product-price] {
  color: var(--CHARCOAL, #3d4146);
  font-family: "Neue Plak";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price s[data-compare-price] {
  color: var(--charcoal-50, rgba(61, 65, 70, 0.5));
  font-family: "Neue Plak";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  text-decoration-line: strikethrough;
}
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price span[data-price-off] {
  padding: 3px 8px 5.5px;
  border-radius: 8px;
  background: #1496d5;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
}
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price span[data-price-off] span[data-price-off-type],
.template--product .product-single__details .product__price-and-badge .product__price-wrapper .product__price span[data-price-off] em {
  display: none;
}
.template--product .product-single__details .product__subheading .metafield-multi_line_text_field {
  color: #646262;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 100%;
  display: block;
}
.template--product .product-single__details .product__form {
  row-gap: 0px;
}
.template--product .product-single__details .product__form__size-chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.template--product .product-single__details .product__form__size-chart .size-selector {
  color: var(--CHARCOAL, #3d4146);
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  text-transform: capitalize;
}
.template--product .product-single__details .product__selectors {
  display: block;
  margin-bottom: 15px;
}
.template--product .product-single__details .select-popout__toggle {
  border-radius: 10px;
  border: 1px solid var(--CHARCOAL, #3d4146);
  padding-block: 14px 16px;
  color: var(--CHARCOAL, #3d4146);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0px;
  background-color: #f7f9fa;
}
.template--product .product-single__details .select-popout__toggle .select-popout__value {
  vertical-align: middle;
}
.template--product .product-single__details .select-popout__item:hover .select-popout__option .select-popout__price s {
  color: #fff;
}
.template--product .product-single__details .select-popout__price {
  float: right;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #1496d5;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: -5px;
}
.template--product .product-single__details .select-popout__price s {
  color: var(--charcoal-50, rgba(61, 65, 70, 0.5));
  font-weight: 400;
  position: relative;
  top: 1px;
}
.template--product .product-single__details .select-popout__callout {
  color: var(--WHITE, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 6px;
  background-color: #8bac0e;
  border-radius: 2px;
  padding-bottom: 1.5px;
  margin-left: 13px;
  position: relative;
  top: -1px;
}
.template--product .product-single__details .select-popout__option span:not(.select-popout__callout) {
  font-size: 18px;
}
.template--product .product-single__details .product__submit__holder {
  padding-top: 5px;
}
.template--product .product-single__details .product__submit__buttons button.product__submit__add {
  padding-block: 16px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  background-color: #3c4147;
}
.template--product .product-single__details .product__submit__buttons button.product__submit__add .loader--line {
  left: 50%;
  transform: translateX(-50%);
}
.template--product .product-single__details .product__submit__buttons button.product__submit__add .product__price--regular {
  display: none;
}
.template--product .product-single__details .product-icon__block {
  display: inline-flex;
  align-items: center;
}
.template--product .product-single__details .product-icon__block .product__icon__row {
  flex: 1;
}
.template--product .product-single__details .product-icon__block.product__block--half {
  width: 50%;
}
@media screen and (min-width: 769px) {
  .template--product .product-single__details .product-icon__block .product__icon {
    --icon-size: 35px !important;
  }
}
.template--product .product-single__details .product-icon__block .product__icon__text {
  color: #3c4147;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}
@media screen and (min-width: 769px) {
  .template--product .product-single__details .product-icon__block .product__icon__text {
    font-size: 16px;
    margin-left: 15px;
  }
}
.template--product .product-single__details .product__accordions .product__accordion__title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.template--product .product-single__details .product__accordions .product__accordion__inner {
  padding-top: 12px;
  color: #646262;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}
.template--product .product-single__details .product__accordions .product__accordion__inner li::marker {
  color: #cecece;
}
.template--product .product-upsell-v2 .product-upsell-container {
  padding: 10px;
  border-radius: 6.196px;
  background: #a0bdcb;
  display: flex;
  align-items: center;
  gap: 21px;
}
.template--product .product-upsell-v2 .product-upsell-container .product-upsell-image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 3.098px;
}
.template--product .product-upsell-v2 .product-upsell-container .product-upsell-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.template--product .product-upsell-v2 .product-upsell-container .product-upsell-details h3 {
  color: var(--WHITE, #fff);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin: 0px;
}
.template--product .product-upsell-v2 .product-upsell-container .product-upsell-details .btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 9.914px 17.969px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 8.423px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 14px;
  min-width: inherit;
}
.template--product .siblings-container .siblings__legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.template--product .siblings-container .radio__legend__label {
  color: var(--CHARCOAL, #3d4146);
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  text-transform: capitalize;
}
.template--product .siblings-container .product__siblings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.template--product .siblings-container .product__siblings-container .product__siblings-item {
  flex: 1;
  text-transform: uppercase;
}
.template--product .siblings-container .product__siblings-container .product__siblings-item.btn--outline {
  --btn-bg: transparent;
  --btn-text: var(--text);
}

@media (max-width: 550px) {
  .featured-collection--grid .carousel--mobile {
    --item-width-mobile:85% !important;
  }
}
