@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@media only screen and (max-width: 767px) {
  section[data-section-type=custom-content] .brick__block--text {
    order: 1;
  }
}
.popup-chart__content th, .popup-chart__content td {
  text-align: center;
}

form-klaviyo-newsletter .form-klaviyo-newsletter .form_on_success {
  display: none;
}
form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container .form_on_danger {
  display: none;
  margin-bottom: var(--spacing-6);
}
form-klaviyo-newsletter .form-success, form-klaviyo-newsletter .form_on_danger {
  display: initial !important;
}

.footer__block--newsletter form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container {
  grid-template-columns: initial;
}
.footer__block--newsletter form-klaviyo-newsletter .form-klaviyo-newsletter .form_submit_container .form_on_danger {
  margin-bottom: initial;
}

@media only screen and (min-width: 480px) {
  .template--product .product__block--half {
    display: inline-block;
    width: 49.5%;
  }
}
@media only screen and (min-width: 768px) {
  .template--product .product-single__gallery {
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 0px;
  }
}
.template--product .product-single__details .product__price-and-rating {
  flex-wrap: wrap;
}
.template--product .product-single__details .product__price-and-rating .loox-rating-content {
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.template--product .product-single__details .product__price-and-rating .loox-rating-content svg {
  width: 15px;
  height: 15px;
}
.template--product .product-single__details .product__price-and-rating .loox-rating-content .loox-rating-label {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  top: 0.5px;
  position: relative;
}
.template--product .product-single__details .product__selectors .selector-wrapper .radio__fieldset {
  margin-left: 0px;
  margin-right: 0px;
}
.template--product .product-single__details .buy_box_container {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media only screen and (max-width: 767px) {
  .template--product .product-single__details .buy_box_container {
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
}
.template--product .product-single__details .buy_box_container .product__submit__holder {
  padding-top: 0px;
  flex: 1;
}
.template--product .product-single__details .buy_box_container .select__fieldset {
  width: 120px;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .template--product .product-single__details .buy_box_container .select__fieldset {
    width: 90px;
  }
}
.template--product .product-single__details .buy_box_container .select__fieldset .select__label {
  display: none;
}
.template--product .product-single__details .buy_box_container .select__fieldset .select-popout {
  height: 100%;
}
.template--product .product-single__details .buy_box_container .select__fieldset .select-popout .select-popout__toggle {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .template--product .product__form {
    gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .template--product .product__form {
    gap: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .template--index .shopify-section.slideshow .original-height-mobile .slide__image__container {
    min-height: auto;
  }
  .template--index .shopify-section.slideshow .full-height-mobile .slide__image__container {
    min-height: var(--full-height);
  }
  .template--index .shopify-section.slideshow .three-quarters-height-mobile .slide__image__container {
    min-height: var(--three-quarters);
  }
  .template--index .shopify-section.slideshow .two-thirds-height-mobile .slide__image__container {
    min-height: var(--two-thirds);
  }
  .template--index .shopify-section.slideshow .one-half-height-mobile .slide__image__container {
    min-height: var(--one-half);
  }
  .template--index .shopify-section.slideshow .one-third-height-mobile .slide__image__container {
    min-height: var(--one-third);
  }
  .template--index .shopify-section.slideshow .one-fifth-height-mobile .slide__image__container {
    min-height: var(--one-fifth);
  }
  .template--index .shopify-section.slideshow .seven-fifty-height-mobile .slide__image__container {
    min-height: 750px;
  }
  .template--index .shopify-section.slideshow .six-fifty-height-mobile .slide__image__container {
    min-height: 650px;
  }
  .template--index .shopify-section.slideshow .five-fifty-height-mobile .slide__image__container {
    min-height: 550px;
  }
  .template--index .shopify-section.slideshow .four-fifty-height-mobile .slide__image__container {
    min-height: 450px;
  }
  .template--index .shopify-section.slideshow .slider .item {
    grid-template-rows: repeat(2, minmax(0, auto));
  }
  .template--index .shopify-section.slideshow .slider .item .slide__image__container {
    position: relative;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container {
    grid-row-start: 2;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper {
    margin-bottom: 0;
    padding-top: 30px !important;
    padding-bottom: 28px;
    color: #000;
    font-family: Inter;
    margin-top: 0px;
    width: 100%;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__subheading .subheading-text {
    margin-top: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
    margin-bottom: 14px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__heading {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
    margin-bottom: 14px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 14px;
    color: #000;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__buttons {
    margin: 0px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__buttons .main-buttons__item {
    margin: 0px;
  }
  .template--index .shopify-section.slideshow .slider .item .slide__text__container .slide__text__wrapper .slide__buttons .main-buttons__item .slide__btn {
    border-radius: 7px;
    border: 1px solid #FFF;
    background: #3C4147;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
