@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@media only screen and (max-width: 767px) {
  section[data-section-type=custom-content] .brick__block--text {
    order: 1;
  }
}
.template--product {
  --form-margin: 25px;
  --form-margin-mobile: 18px;
}
@media only screen and (min-width: 768px) {
  .template--product .product-single__gallery {
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 0px;
  }
}
.template--product .product-single__details .product__price-and-rating {
  flex-wrap: wrap;
}
.template--product .product-single__details .product__price-and-rating .loox-rating-content {
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.template--product .product-single__details .product__price-and-rating .loox-rating-content svg {
  width: 15px;
  height: 15px;
  color: #353435;
}
.template--product .product-single__details .product__price-and-rating .loox-rating-content .loox-rating-label {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  top: 0.5px;
  position: relative;
}
.template--product .product-single__details .product__selectors .selector-wrapper .radio__fieldset {
  margin-left: 0px;
  margin-right: 0px;
}
.template--product .product-single__details .buy_box_container {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media only screen and (max-width: 767px) {
  .template--product .product-single__details .buy_box_container {
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
}
.template--product .product-single__details .buy_box_container .product__submit__holder {
  padding-top: 0px;
  flex: 1;
}
.template--product .product-single__details .buy_box_container .select__fieldset {
  width: 120px;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .template--product .product-single__details .buy_box_container .select__fieldset {
    width: 90px;
  }
}
.template--product .product-single__details .buy_box_container .select__fieldset .select__label {
  display: none;
}
.template--product .product-single__details .buy_box_container .select__fieldset .select-popout {
  height: 100%;
}
.template--product .product-single__details .buy_box_container .select__fieldset .select-popout .select-popout__toggle {
  height: 100%;
}
